.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5rem 1rem;
    box-shadow: 0px 2px 5px -1px rgba(204,204,204,1);
}

.cart-in-header {
    position: relative;

    .cart-popup-modal {
        position: absolute;
        top: 1.6rem;
        right: 0;
        background-color: #DDDDDD;
        border: 1px solid #660033;
        padding: 1rem;
        z-index: 1;
        width: 400px;
    }
}