@import 'app/breakpoints';

.pagination {
    padding: 0.5rem 0.75rem;
    text-decoration: none;
    float: right;
    margin-top: 10px;


    .pagination-word {
        padding: 0.5rem 0.75rem;
        color: #0275d8;
        text-decoration: none;
        background-color: #fff;
        border: 1px solid #ddd;
    }

    .pagination-active-word {
        padding: 0.5rem 0.75rem;
        color: white;
        text-decoration: none;
        background-color: #660033;
        border: 1px solid #ddd;
    }

    .disablePagiBtn {
        padding: 0.5rem 0.75rem;
        color: #0275d8;
        text-decoration: none;
        background-color: #fff;
        border: 1px solid #ddd;
    }
}

.word {
    line-height: 1.5;
}