@import 'app/breakpoints';

.grid-view {
    display: flex;
    flex-wrap: wrap;

    .product-card-div {
        width: 50%;

        @include media-breakpoint-up(md) {
            width: 33%;
        }

        @include media-breakpoint-up(lg) {
            width: 25%;
        }
    }
}