@import 'app/breakpoints';

.wishlist-quantity {
    background-color: #FF4081;
    width: 20px;
    height: 20px;
    margin-left: 10px;
    text-align: center;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-content {
    min-height: 0 !important;
}

.add-to-cart-content {
    @include media-breakpoint-down(sm) {
        padding: 8px 10px !important;
    }

    .add-to-cart-image {
        width: 70%;

        @include media-breakpoint-down(sm) {
            width: 80%;
            padding: 10px;
        }
    }
}