@import 'app/breakpoints';

.product-content {
    min-height: 380px;
    padding-top: 0 !important;

    @include media-breakpoint-down(sm) {
        min-height: 250px;
        padding: 8px !important;
    }

    .product-img {
        position: relative;

        .out-of-stock {
            height: 60px;
            width: 60px;
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            margin: auto auto;
            padding: 20px;
            background: rgba(0,0,0,0.6);
            border-radius: 50%;
        }

        .oos-text {
            color: #FFFFFF;
            line-height: 0;
            position: relative;
            top: 25%;
        }
    }

    .feature-tag {
        width: 45px;
        height: 45px;
        border-radius: 50px;

        @include media-breakpoint-down(sm) {
            width: 35px;
            height: 35px;
        }
    }

    .discount-tag {
        width: 45px;
        height: 45px;
        border-radius: 50px;
        background-color: #FF0068;
        color: #FFFFFF;
        line-height: 45px;
        text-align: center;

        @include media-breakpoint-down(sm) {
            width: 35px;
            height: 35px;
            line-height: 35px;
        }
    }

    .product-description {
        padding: 5px 0;
        display: -webkit-box;
        max-width: 250px;
        height: 42px;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }
}