.detail-page-form-question-title {
    font-size: 1.5rem;
}

.detail-page-form-question-container {
    margin-bottom: 1rem;
}

.signup-page-form-container {
    margin: auto;
    width: 500px;
}

.signup-page-form-question-container {
    margin: 1rem;
}

.signup-page-form-question-icon {
    margin-right: 10px;
    font-size: 1.5rem;
}