@import 'app/breakpoints';

.grid-view {
    display: flex;
    flex-wrap: wrap;

    .product-card-div {
        width: 50%;

        @include media-breakpoint-up(md) {
            width: 33%;
        }

        @include media-breakpoint-up(lg) {
            width: 25%;
        }
    }
}

.list-view {
    display: flex;
    flex-wrap: wrap;

    .product-card-div {
        width: 100%;
        @include media-breakpoint-up(lg) {
            width: 50%;
        }
    }
}

.filter-container {
    .filter-item {
        input.invisible { opacity: 0; }
        input.loading { opacity: 0.5; }

        .filter-item-display {
            display: inline-block;

            .toggle-icon { font-size: 120%; font-weight: bold; }
        }
    }
}
