@import 'app/breakpoints';

.grid-view {
    display: flex;
    flex-wrap: wrap;

    .product-card-div {
        width: 50%;

        @include media-breakpoint-up(md) {
            width: 33%;
        }

        @include media-breakpoint-up(lg) {
            width: 25%;
        }
    }
}

.list-view {
    display: flex;
    flex-wrap: wrap;

    .product-card-div {
        width: 100%;
        @include media-breakpoint-up(lg) {
            width: 50%;
        }
    }
}

.filter-container {
    float: left;
    display: flex;
    flex-wrap: wrap;

    @include media-breakpoint-down(md) {
        width: 0%;
        overflow: hidden;
    }

    .filter-item {
        input.invisible { opacity: 0; }
        input.loading { opacity: 0.5; }

        .filter-item-display {
            display: inline-block;

            .toggle-icon { font-size: 120%; font-weight: bold; }
        }
    }
}

.loading {
    position: absolute;
    top: 50%;
    margin: auto;
    left: 0;
    right: 0;
    width: 60px;
}

.product-loading {
    // top: 50%;
    // margin: auto;
    // left: 0;
    // right: 0;
    width: 60px;
}

.banner {
    width: 560;
    height: 200;
    margin: 0 auto;
    display: block;

    @include media-breakpoint-down(md) {
        width: 80%;
    }

    @include media-breakpoint-down(sm) {
        width: 70%;
    }
}

.view-button {
    background-color:red;
    color: green;
    display: inline-block;
    margin-top: 10px;
}