.item-card {
    padding: 10px;
    margin-left: 20px;
    margin-right: 20px;
    // min-height: 200px;
    max-height: 300px;
    overflow: hidden;

    .item-name {
        height: 6em;
        overflow: hidden;
        padding-top: 20px;
    }

}