@import 'app/breakpoints';
@import '../../custom-bootstrap-style';

.games-login-modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;

    .login-container {
        margin: auto;
        padding: 5%;
        width: 70%;
        border-radius: 5px;
        background-color: white;
        position: relative;
        top: 40%;
        transform: translateY(-50%);
    }
}
.token-loading {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    background-color:white;

    .token-loading-gif {
        position: absolute;
        margin: auto;
        top: 45%;
        left: 45%;
        width: 2.5em;
    }
}
.games-page {
    min-height: 300px;
    max-height: 100vh;
    margin: auto;
    overflow: hidden;
    display: flex;
    flex: 1;
    justify-content: center;

    .ppg-version {
        color: #0005;
        position: absolute;
        right: 1%;
        bottom: 1%;
        z-index: 100;
    }
    .logout {
        color: #0005;
        position: absolute;
        left: 1%;
        bottom: 1%;
        z-index: 100;
    }

    img {
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -o-user-select: none;
        user-select: none;
        // pointer-events: none;
    }
}

.game-container {
    position: relative;
    height: 100%;
    max-height: 100vh;
    max-width: 100%;

    .main-menu-wrapper {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;

        .main-menu-container {
            position: relative;
        }
    }

    .page-buttons {
        color: black;
        position: absolute;
        top: 2%;
        left: 0;
        right: 0;
        width: 94%;
        z-index: 500;
        margin: auto;

        .page-button-item {
            width: 10%;
            display: inline-block;

            &.to-left { float: left; }
            &.to-right { float: right; }
        }
    }

    .main-menu-bg {
        max-width: 100vw;
        max-height: 100vh;
    }

    .main-menu-bottom-content {
        position: absolute;
        z-index: 10;
        margin: auto;
        bottom: 11%;
        left: 0;
        right: 0;
        text-align: center;

        .game-info {
            padding-bottom: 3%;

            .main-menu-username {
                @include line-elips(2em, 1.2, 1);
                margin: auto;
            }

            .username-loading {
                width: 1.5em;
            }
        }

        .main-menu-button-item {
            width: 50%;
            max-width: 300px;
            cursor: pointer;
            background-color: #AAA0;
            transition: transform .5s, background-color.5s;

            &:hover {
                transform: scale(1.05);
                // background-color: #0002;
            }
        }
    }
}

.games-page-popup-modal {
    position: absolute;
    background-color: #FFFD;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;

    .modal-inner-div {
        position: relative;
    }
}