@import 'custom-bootstrap-style';
@import 'legacy-styling.scss';
@import 'app/breakpoints';

html {
    font-size: .7vw;

    @include media-breakpoint-down(lg) {
        font-size: 1vw;
    }

    @include media-breakpoint-only(sm) {
        font-size: 2vw;
    }

    @include media-breakpoint-down(xs) {
        font-size: 3vw;
    }
}

.hermo-red { color: #660033 !important; }
.hermo-pink { color: #FF0068 !important; } //lighten($hermo-red, 40%);

::placeholder {
    color: rgb(196, 187, 201);
    font-weight: 300;
    font-size: 80%;
}

.bigger { font-size: 130%; }

.hershop-button {
    font-size: 120%;
    text-align: center;
    margin: .5rem 1rem;
    padding: 1.1rem 3rem;
    display: inline-block;
    border-radius: 10px;
    color: #FDFDFD;
    background-color: #660033;
    cursor: pointer;
    outline: none;

    &.invert {
        // background-color: transparent;
        // color: #660033;
        // border: 1px dashed #660033;

        &:hover {
            background-color: #FF0068;
            color: RGBA(255, 255, 255, 0.85)
        }
    }

    &.smaller {
        font-size: 100%;
        padding: .75rem 3rem;
        margin: 1rem 0;
    }

    &:hover {
        cursor: pointer;
        transform: scale(1.05);
        transition: transform .215s;
        color: #FF0068;
        text-decoration: none;

        &.triggered {
            transform: none;
            transition: none;
        }
    };
}

.color-transparent { color: transparent; }

.text-success { color: rgb(67, 201, 67) }
.text-danger { color: rgb(221, 41, 41) }

.text-right { text-align: right }

.posi-relative { position: relative; }

body {
    font-family: "Poppins", sans-serif;
    background-color: #F3EFEE;
    margin: 0;
}

.text-white { color: white; }

.text-hover-hermo-pink:hover,
.text-hover-hermo-pink:focus {
    color: #FF0066;
}

.text-main-color {
    color: white;
}

.bg-main-color {
    background-color: black;
}

.text-secondary-color {
    color: #660033;
}

.bg-secondary-color {
    background-color: #FDFDFD;
}

.text-tertiary-color {
    color: #FF0068;
}

.bg-tertiary-color {
    background-color: gold;
}

.bg-white {
    background-color: white;
}

.owl-carousel {
    .owl-nav {
        .owl-prev, .owl-next {
            position: absolute;
            top: 45%;
            transform: translateY(-50%);
            border-radius: 5px;
            font-size: 20px;
            padding: 10px 12px;
            background-color: #0001;

            &:hover {
                background-color: #0005;
            }
        }

        .owl-prev {
            left: 10px;
        }
        .owl-next {
            right: 10px;
        }
    }
}

.opacity-zero {
    opacity: 0;
}

// fixes for carousel slider issue
.carousel.carousel-slider {
    .control-arrow {
        position: absolute;
        top: 40%;
        height: 100px;
        width: 7%;
        border-radius: 10%;
        background: rgba(0,0,0,.2);

        &.control-prev { left: 3%; }
        &.control-next { right: 3%; }
    }

    .control-dots .dot {
        background: rgba(0, 0, 0, 0.5);
        border: 2px solid white;
        width: 12px;
        height: 12px;
        padding: 0;
        box-shadow: none;
    }

    .slider {
        overflow: initial;

        > li.slide {
            padding: 0;
        }
    }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active  {
    box-shadow: 0 0 0 30px white inset !important;
}
