@import 'custom-bootstrap-style';

a {outline : none !important;}

body { font-size: 12px; }

::placeholder {
    color: rgb(196, 187, 201);
    font-weight: 300;
    font-size: 80%;
}

ol, ul { margin: 0; padding-left: 2rem; }

.bigger { font-size: 130%; }

.hershop-button {
    font-size: 120%;
    text-align: center;
    margin: .5rem 1rem;
    padding: 1.1rem 3rem;
    display: inline-block;
    border-radius: 10px;
    color: #FDFDFD;
    background-color: #660033;
    cursor: pointer;
    outline: none;

    &.invert {
        // background-color: transparent;
        // color: #660033;
        // border: 1px dashed #660033;

        &:hover {
            background-color: #FF0068;
            color: RGBA(255, 255, 255, 0.85)
        }
    }

    &.smaller {
        font-size: 100%;
        padding: .75rem 3rem;
        margin: 1rem 0;
    }

    &:hover {
        cursor: pointer;
        transform: scale(1.05);
        transition: transform .215s;
        color: #FF0068;
        text-decoration: none;

        &.triggered {
            transform: none;
            transition: none;
        }
    };
}

.color-transparent { color: transparent; }

.text-success { color: rgb(67, 201, 67) }
.text-danger { color: rgb(221, 41, 41) }

.text-right { text-align: right }

.posi-relative { position: relative; }
