.accordion-container {
    .accordion-title {
        .accordion-icon {
            margin-left: 5px;
            &.active {
                transform: rotate(90deg);
            }
        }
    }
    
    .accordion-content {
        transition-property: 'max-height';
        transition-duration: 0.5s;
        transition-delay: 0s;
        overflow: hidden;
    }
}