@import 'app/breakpoints';

.sorter {
    border: 1px solid ;
    width:50%;
    margin-top: 10px;
    outline-color: red;

    @include media-breakpoint-down(md) {
        width: 40%;
    }
    @include media-breakpoint-up(md) {
        width: 15%;
    }
}

.filter-container {
    float: left;
    flex-wrap: wrap;

    @include media-breakpoint-down(md) {
        width: 0%;
        overflow: hidden;
    }

    .filter-item {
        input.invisible { opacity: 0; }
        input.loading { opacity: 0.5; }

        .filter-item-display {
            display: inline-block;

            .toggle-icon { font-size: 120%; font-weight: bold; }
        }
    }
}