@import 'app/breakpoints';

.perfect-match-game-page {
    position: relative;

    div, img {
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -o-user-select: none;
        user-select: none;
    }

    .page-buttons {
        color: black;
        position: absolute;
        top: 2%;
        left: 0;
        right: 0;
        z-index: 5000;
        margin: auto;

        .page-button-item {
            width: 10%;
            display: inline-block;

            &.to-left { float: left; }
            &.to-right { float: right; }
        }
    }


.prize-inner-section {

        .result-bottom-content {
            position: absolute;
            z-index: 10;
            bottom: 8%;
            padding: 3% 22%;
            left: 0;
            right: 0;
            display: flex;

            .result-content {
                width: 33%;
                padding: 5%;
            }

            .result-button-item {
                width: 100%;
                max-height: 10em;
                cursor: pointer;
                background-color: #AAA0;
                border-radius: 10%;
                transition: transform .5s, background-color.5s;

                &:hover {
                    transform: scale(1.1);
                    border-radius: 10%;
                }
            }
        }
    }

    .idle-screen, .game-screen, .result-screen {
        text-align: center;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        .result-screen-content { position: relative; height: 100%; }

        .game-panel {
            padding-top: 10%;

            .perfect-game-tips {
                font-size: 1.5em;
            }
        }

        // .game-card-image {
        //     // &.correct-match { background-color: lightseagreen; }
        //     // &.wrong-match { background-color: red; }
        // }

        .ready-go-container {
            font-size: 15em;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #EEE9;
            // border-radius: 15px;
            z-index: 8000;

            .ready-go {
                display: inline-block;
            }
        }

        .countdown-timer {
            font-size: 2em;
        }

        .card-field {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            .flipable-card {
                width: 30%;
                margin: 1%;
                cursor: pointer;
                background-color: #FFF3;

                &.four-per-row{
                    width: 22%;
                }

                .react-card-front,
                .react-card-back {
                    display: flex;
                }
            }
        }
    }

    .perfect-match-share-modal  {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 9999;
        background-color: #000A;

        .modal-inner-div {
            margin: auto;
            width: 50%;
            border-radius: 5px;
            background-color: white;
            position: relative;
            top: 50%;
            transform: translateY(-50%);
        }
        .modal-inner-button {
            position: absolute;
            right: 0;
        }
        .share-dialog-title {
            padding: 17% 5% 5% 5%;
            font-size: 1.5em;
            text-align: center;
            height: 5%;
        }
        .share-dialog-content {
            display: flex;
            padding: 5%;
            flex-wrap: wrap;
            justify-content: center;

            .share-content {
                padding: 2%;
            }
            .share-button-item {
                width: 100%;
                cursor: pointer;
                padding: 5%;

                &:hover {
                    transform: scale(1.02);
                    background-color: #0002;
                    border-radius: 50%;
                }
            }
        }
    }
}
